{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "no-unused-vars": [0, { "varsIgnorePattern": "h" }],
    "spaced-comment": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": [1, {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}],
    "react/prefer-es6-class": 0,
    "react/jsx-curly-spacing": [2, "always"],
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "no-unused-expressions": [2, { "allowShortCircuit": true }]
  },
  "env": {
      "node": true,
      "mocha": true,
      "browser": true
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
