# Mac
.DS_Store

# Node
npm-debug.log
node_modules

# iOS
platforms/ios/build/
platforms/ios/www/
platforms/ios/cordova/console.log
*.xcuserdatad

# android
platforms/android/assets/www
platforms/android/bin
platforms/android/gen
platforms/android/local.properties

# wp8
platforms/wp8/bin
platforms/wp8/obj
platforms/wp8/www
