# Mac
.DS_Store

# Node
npm-debug.log

# iOS
platforms/ios/build
platforms/ios/www

# android
platforms/android/AndroidManifest.xml
platforms/android/assets/www
platforms/android/bin
platforms/android/gen
