.appsList {
  padding: 0;
  list-style: none;
}

.appTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.appsListItem {
  padding: 0;
  margin-left: 16px;

  a {
    color: blue;
    text-decoration: underline;
  }
}

.media {
  padding: 8px;
  padding-left: 0;
  display: flex;
  align-items: center;

  button {
    width: 48px;
    height: 48px;
  }
}

.mediaFigure {
  margin-right: 1em;
  width: 48px;
  height: 48px;
  padding: 4px 0;
  overflow: hidden;
}

.mediaFigureImg {
  max-width: 48px;
  max-height: 48px;
}

.mediaBody {
  flex: 1;
  padding: 4px;
  min-width: 0;
}

.playButton {
  background: url(assets/img/ic_play_circle_outline_black_24px.svg) center center no-repeat;
}
