<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.splashscreen"
      version="0.2.6">
    <name>Splashscreen</name>
    <description>Cordova Splashscreen Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,splashscreen</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-splashscreen.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320653</issue>


    <js-module src="www/splashscreen.js" name="SplashScreen">
        <clobbers target="navigator.splashscreen" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SplashScreen">
            <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen"/>
            </feature>
        </config-file>

        <source-file src="src/android/SplashScreen.java" target-dir="src/org/apache/cordova/splashscreen" />
    </platform>

    <!-- amazon-fireos -->
    <platform name="amazon-fireos">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SplashScreen">
            <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen"/>
            </feature>
        </config-file>

        <source-file src="src/android/SplashScreen.java" target-dir="src/org/apache/cordova/splashscreen" />
    </platform>
    
    <!-- ubuntu -->
    <platform name="ubuntu">
        <header-file src="src/ubuntu/splashscreen.h" />
        <source-file src="src/ubuntu/splashscreen.cpp" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="SplashScreen">
			    <param name="ios-package" value="CDVSplashScreen"/>
			    <param name="onload" value="true"/>
		    </feature>
        </config-file>

	    <header-file src="src/ios/CDVSplashScreen.h" />
	    <source-file src="src/ios/CDVSplashScreen.m" />
	    
	    <framework src="CoreGraphics.framework" />
    </platform>

    <!-- blackberry10 -->
    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" target-dir="SplashScreen" />
        <config-file target="www/config.xml" parent="/widget">
            <feature name="SplashScreen" value="SplashScreen"/>
        </config-file>
    </platform>

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="SplashScreen">
                <param name="wp-package" value="SplashScreen"/>
            </feature>
        </config-file>

        <source-file src="src/wp/SplashScreen.cs" />

    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="SplashScreen">
                <param name="wp-package" value="SplashScreen"/>
            </feature>
        </config-file>

        <source-file src="src/wp/SplashScreen.cs" />

    </platform>

    <!-- windows8 -->
    <platform name="windows8">
        <js-module src="www/windows8/SplashScreenProxy.js" name="SplashScreenProxy">
            <merges target="" />
        </js-module>
    </platform>

</plugin>
