.cloudAppsDetail {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  :global(.full) {
    width: 100%;
  }
}

.header {
  display: flex;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 60%;
  flex-direction: column;
}

.iconContainer {
  height: 64px;
}

.icon {
  max-width: 64px;
  max-height: 64px;
}

.playButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 40%;

  button {
    width: 48px;
    height: 48px;
  }
}

.header,
.phoneGapVersionContainer,
.pluginCompatibilityContainer,
.installContainer {
  margin-top: 1px;
  padding: 16px;
  box-shadow: 0 1px #e9ecf1;
  background: #ffffff;
}

.phoneGapVersion {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
