<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.globalization"
      version="0.2.5">
    <name>Globalization</name>
    <description>Cordova Globalization Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,globalization</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-globalization.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320649</issue>

    <js-module src="www/GlobalizationError.js" name="GlobalizationError">
        <clobbers target="window.GlobalizationError" />
    </js-module>
    
    <js-module src="www/globalization.js" name="globalization">
        <clobbers target="navigator.globalization" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Globalization">
                <param name="android-package" value="org.apache.cordova.globalization.Globalization" />
            </feature>
        </config-file>

        <source-file src="src/android/Globalization.java" target-dir="src/org/apache/cordova/globalization" />
        <source-file src="src/android/GlobalizationError.java" target-dir="src/org/apache/cordova/globalization" />
    </platform>
       
    <!-- amazon-fireos -->
    <platform name="amazon-fireos">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Globalization">
                <param name="android-package" value="org.apache.cordova.globalization.Globalization" />
            </feature>
        </config-file>

        <source-file src="src/android/Globalization.java" target-dir="src/org/apache/cordova/globalization" />
        <source-file src="src/android/GlobalizationError.java" target-dir="src/org/apache/cordova/globalization" />
    </platform>
    
   <!-- ubuntu -->
   <platform name="ubuntu">
       <header-file src="src/ubuntu/globalization.h" />
       <source-file src="src/ubuntu/globalization.cpp" />

       <js-module src="www/ubuntu/globalization.js" name="Globalization1">
           <merges target="navigator.globalization" />
       </js-module>
   </platform>

   <!-- ios -->
   <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="Globalization">
                <param name="ios-package" value="CDVGlobalization" /> 
            </feature>
        </config-file>
        <header-file src="src/ios/CDVGlobalization.h" />
        <source-file src="src/ios/CDVGlobalization.m" />
    </platform>

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="Globalization">
                <param name="wp-package" value="Globalization"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Globalization.cs" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Globalization">
                <param name="wp-package" value="Globalization"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Globalization.cs" />
    </platform>

</plugin>
