.mainHeader {
  .settingsButton {
    width: 100%;
    height: 100%;
    display: block;
    background: url(assets/img/ic_settings_black_24px.svg) center center no-repeat;
  }

  .helpButton {
    width: 100%;
    height: 100%;
    display: block;
    background: url(assets/img/ic_help_black_24px.svg) center center no-repeat;
  }
}
