.settingsPane {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  :global(.topcoat-list) {
    margin-top: 16px;
  }

  :global(.full) {
    width: 100%;
  }
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chevronItem {
  width: 100%;
  background: url(assets/img/ic_chevron_right_black_24px.svg) center right no-repeat;
}

.logoutButtonContainer {
  padding: 16px;
}
