.connectPane {
  padding: 10px;
  background: #dfe2e2;

  .orSpacer {
    text-align: center;
    margin: 20px 0;
  }

  input {
    margin: 10px 0;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
