.connectPane {
  padding: 10px;

  .orSpacer {
    text-align: center;
    margin: 20px 0;
  }

  label > span {
    text-align: left;
  }

  button {
    margin: 10px 0 0 0;

    &:global(.full) {
      width: 100%;
    }
  }

  button > span {
    display: flex;
    justify-content: center;
    align-items: center;

    span, img {
      padding: 0 2px;
    }
  }

  :global(.topcoat-combobox__container) > input,
  :global(.topcoat-combobox__container) {
    width: 100%;
    z-index: 2;
  }
}
