@import "mixins";
@import "icons.css";

/*---------------------------------------------------
    Font
---------------------------------------------------*/

body, h1, h2, h3, h4 {
    font-size: 1.05em;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
    font-weight: 300;
}


/*---------------------------------------------------
    Animation
---------------------------------------------------*/

.move-background() {
    from {background-position: 0 0;}
    25% {background-color: darken( #391335, 5%);}
    75% {background-color: darken( #113218, 5%);}
    50% {background-color: darken( #392F13, 5%);}
    to {background-position: -160px -320px;}
}

@-webkit-keyframes move-background {.move-background;}
@-moz-keyframes move-background {.move-background;}
@-ms-keyframes move-background {.move-background;}
@-o-keyframes move-background {.move-background;}
@keyframes move-background {.move-background;}


.spin() {
    from { .transform( rotate(0deg) ); }
    to { .transform( rotate(360deg) ); }
}

@-webkit-keyframes spin {.spin;}
@-moz-keyframes spin {.spin;}
@-ms-keyframes spin {.spin;}
@-o-keyframes spin {.spin;}
@keyframes spin {.spin;}


.bounce() {
    0% { .transform( scale(1, 1) ); }
    10% { .transform( scale(1.3, 1) ); }
    15% { .transform( scale(1, 1) ); }
    60% { .transform( scale(1, 1) ); }
    70% { .transform( scale(1, 1.3) ); }
    75% { .transform( scale(1, 1) ); }
}

@-webkit-keyframes bounce {.bounce;}
@-moz-keyframes bounce {.bounce;}
@-ms-keyframes bounce {.bounce;}
@-o-keyframes bounce {.bounce;}
@keyframes bounce {.bounce;}


/*---------------------------------------------------
    General
---------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body, html {
    height: 100%;
}

body {
    font-size: 16px;
    .animate(move-background);
    background: #0B1922 url(../img/grid.png);
    color: #fff;
}

a {
    color: #fff;
}

/*---------------------------------------------------
    Components
---------------------------------------------------*/

section {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    top: 50%;
    margin-top: -80px - @pad*2;
    width: 80%;
}

.bt {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    display: block;
    font-size: 1.2em;
    height: 80px;
    line-height: 80px;
    margin: @pad;
    text-align: center;
    text-decoration: none;
    .transition( background-color );

    &:hover, &:active {
        .hex-to-rgba(@link-color, 0.3);
    }

    figure {
        border-left: 1px solid rgba(255,255,255,0.2);
        float: right;
        height: 60px;
        line-height: 60px;
        margin: @pad/2;
        padding-left: @pad / 2;
        width: 60px - @pad/2;

        &:before {
            font-size: 40px;
            text-align: center;
            display: block;
        }

        &.icon-spinner:before {
            .animate( spin, 2s );
            font-size: 36px;
        }

        &.icon-buildbot:before {
            .animate( bounce, 2s );
        }
    }
}














