@import "mixins";
@import "icons.css";

/*---------------------------------------------------
    Font
---------------------------------------------------*/

body, h1, h2, h3, h4 {
    font-size: 1.05em;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
    font-weight: 300;
}


/*---------------------------------------------------
    General
---------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body, html {
    height: 100%;
}

body {
    font-size: 16px;
    background: #0B1922 url(../img/gradient.jpg);
    .background-size(100% 100%);
    color: #fff;
}

a {
    color: #fff;
}

/*---------------------------------------------------
    Components
---------------------------------------------------*/

.container {
    display: table;
    height: 100%;
    position: absolute;
    top: 0; right: 10%; bottom: 0; left: 10%;
    width: 80%;

    .inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

section {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    .box-shadow;
    height: @bar-height;
    margin: @pad;
    .transition;

    &.enlarge {
        height: 300px;
    }
}

.bt {
    display: block;
    font-size: 1.2em;
    height: @bar-height;
    line-height: @bar-height;
    opacity: 1;
    text-align: center;
    text-decoration: none;
    .transition( background );

    &:hover, &:active {
        background: rgba(255,255,255,0.2);
    }

    figure {
        border-left: 1px solid rgba(255,255,255,0.2);
        float: right;
        height: @bar-height - 20;
        line-height: @bar-height - 20;
        margin: @pad/2;
        padding-left: @pad / 2;
        width: @bar-height - 20 - @pad/2;

        &:before {
            font-size: 40px;
            text-align: center;
            display: block;
        }

        &.icon-spinner:before {
            .animate( spin, 2s );
            font-size: 36px;
        }

        &.icon-buildbot:before {
            .animate( bounce, 2s );
        }
    }

    &.hide {
        opacity: 0;
        height: 0;
    }
}



