@monitor-width: 270px;
@monitor-height: 205px;
@monitor-padding: 25px;

#bot {
	display: inline-block;
	text-align: center;
	position: relative;
	margin-top: 60px;
	width: @monitor-width + 10;

	.shadow {
		.sprite;
		background-position: 0 -240px;
		width: 320px;
		height: 40px;
		position: absolute;
		bottom: -65px;
		left: -(320 - @monitor-width) / 2 + 4;
	}

	.monitor {
		margin-left: 5px;
		width: @monitor-width;
		height: @monitor-height;
		.gradient-simple( @terminal-background, #0e151d );
		position: relative;
		font-family: Monaco, Courier New, monospace;


		.cover {
			width: 100%;
			height: 100%;
			.sprite;
			.animate( flash, 2s );
		}

		form {
			position: absolute;
			width: @monitor-width - @monitor-padding * 2;
			top: @monitor-padding;
			left: @monitor-padding;
			.transition( opacity, 0.5s );

			&.faded {
				opacity: 0;
			}
		}

		.visor {
			position: absolute;
			top: 70px;
			left: 50%;
			.transition( opacity, 0.5s );

			.eye {
				position: absolute;
				.sprite;
				background-position: 0 -300px;
				top: 0;
				width: 40px;
				height: 50px;

				&.left {
					left: -100px;
				}

				&.right {
					right: -100px;
				}
			}
			label {
				position: absolute;
				left: -50px;
				top: 25px;
				width: 100px;
				font-size: 12px;
			}

			&.pulse {
				.eye {
					.animate( pulse, 0.5s );
				}
			}

			&.fade-out {
				opacity: 0;
			}
		}

		&.alert {
			background: @alert-background;

			.visor .eye {
				background-position: 0 -350px;
			}
		}
	}

	.panel {
		border: 1px solid #fff;
		border-right-color: #acabab;
		border-bottom-color: #acabab;
		.gradient-angled( #eee, #ccc );
		position: absolute;
		left: 0;
		right: 0;

		&.visor-cover {
			left: -1px;
			right: -1px;
			bottom: -121px;
			height: 70px;
			.transition( bottom, 0.5s );
		}
		&.top {
			top: -14px;
			.transition( top, 0.5s );
			height: @monitor-height + 10 - 120;

			&.open {
				top: -@monitor-height + 37;

				.visor-cover {
					bottom: -73px;
				}
			}
		}
		&.bottom {
			height: 40px;
			bottom: -40px;
		}
	}

}