/*---------------------------------------------------
    UI - Form
---------------------------------------------------*/

.placeholder( rgba(0,0,0,0.2) );

input {
    border: none;
    .border-radius( 0 );
    display: block;
    font-size: @input-font-size;
    height: @input-height;
    margin: @pad auto;
    padding: @input-pad;
    width: 80%;
    -webkit-appearance: none;
}

input[type="text"], input[type="password"], input[type="number"] {
    background: #fff;
    padding: @input-pad + 8 @input-pad + 4;
    border: 4px solid #ccc;
    .box-sizing;

    &:focus {
        background: #EAF7FF;
    }
}

input[type="submit"] {
    background: #bbb;
    color: #fff;
    min-width: 100px;
    &:active {
        background: #ddd;
    }
}


.narrow-screen() {
    input {
        width: 90%;
    }
}
